:root {
    --color: #EE6263;
}

*{
    font-family: 'Exo 2', 'sans-serif';
    font-style: italic;
    text-transform: uppercase;
    transition: all .2s linear;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    position: fixed;
    flex-flow: row-reverse;
    z-index: 1;
}

.left{
    display: flex;
    position: relative;
}

#search{
    padding: 0 1.5rem;
    outline: none;
    border: none;
    border-radius: 5rem;
    height: 4rem;
    width: 4rem;
    background-color: var(--color);
    position: absolute;
    right: 13.4rem;
    color: #fff;
}

#search:hover, #search:focus {
    width: 25rem;
}

#search:active::placeholder {
    color: #333;
}

/* .fas {
    margin: 1rem;
    z-index: 1;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
} */

.logo {
    margin: 0 3rem;
}

.logo h1{
    font-size: 3rem;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: #333;
    margin: 0 2rem;
}

nav ul li a:hover{
    color: var(--color);
}

.barras{
    font-size: 3.5rem;
    color: var(--color);
    cursor: pointer;
    display: none;
    z-index: 2;
}

@media (max-width:991px) {
    html{
        font-size: 55%;
    }
}

@media (max-width:768px) {
    .barras{
        display: block;
    }

    nav{
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100vh;
        background-color: #fff;
    }

    nav ul{
        height: 100%;
        flex-flow: column;
        justify-content: center;
    }

    nav ul li{
        margin: 2rem 0;
    }

    nav ul li a{
        font-size: 3rem;

    }

    .active{
        left: 0;
    }
}