:root {
    --color: #EE6263;
}

*{
    font-family: 'Exo 2', 'sans-serif';
    font-style: italic;
    text-transform: uppercase;
    transition: all .2s linear;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    position: fixed;
    flex-flow: row-reverse;
    z-index: 1;
}

.left{
    display: flex;
    position: relative;
}

#search{
    padding: 0 1.5rem;
    outline: none;
    border: none;
    border-radius: 5rem;
    height: 4rem;
    width: 4rem;
    background-color: var(--color);
    position: absolute;
    right: 13.4rem;
    color: #fff;
    top: calc(100% - 54px);
}

#search:hover, #search:focus {
    width: 25rem;
}

#search:active::placeholder {
    color: #333;
}

.fas {
    width: 30px;
    height: 30px;
    z-index: 1;
    top: calc(100% - 50px);
    right: 14rem;
    position: absolute;
    cursor: pointer;
}

.logo {
    margin: 0 3rem;
}

.logo h1{
    font-size: 3rem;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: #333;
    margin: 0 2rem;
}

nav ul li a:hover{
    color: var(--color);
}

.barras{
    font-size: 3.5rem;
    color: var(--color);
    cursor: pointer;
    display: none;
    z-index: 2;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
    position: relative;
}

.content{

    width: 40vw;
    margin-left: -5rem;
    color: #333;
}


.content h1{
    font-size: 4rem;
}

.content h3{
    font-size: 2.5rem;
    margin: 1.4rem 0;
    color: var(--color);
}

.content p{
    font-size: 1.7rem;
    padding: 1rem 0;
    border-bottom: .2rem solid #333;
    border-top: .2rem solid #333;
}

.btn2{
    outline: none;
    border: none;
    height: 4rem;
    width: 14rem;
    border-radius: 5rem;
    background-color: var(--color);
    color: #fff;
    cursor: pointer;
    margin: 2rem 0;
}

.btn2:first-child{
    margin-right: 1.5rem;
}

.content a button:hover{
    background: #333;
}

.icons{
    position: absolute;
    bottom: 4rem;
}

.icons a{
    font-size: 2.4rem;
    text-decoration: none;
    margin: 0 1rem;
}

.image {
    margin-top: 5rem;
    margin-right: 5rem;
}

.image img{
    width: 25vw;
    /* max-width: 480px;
    max-height: 800px; */
    border-radius: 20px;
}

@media (max-width:991px) {
    html{
        font-size: 45%;
    }

    #search{
        top: calc(100% - 48px);
    }
}

@media (max-width:668px) {
    .barras{
        display: block;
    }

    nav{
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100vw;
        background-color: #fff;
    }

    nav ul{
        height: 100%;
        flex-flow: column;
        justify-content: center;
    }

    nav ul li{
        margin: 2rem 0;
    }

    nav ul li a{
        font-size: 3rem;

    }

    .container{
        text-align: center;
        padding: 0;
    }

    .content{
        width: 80%;
        margin: 0;
    }

    .image {
        display: none;
    }

    .icons{
        width: 80%;
        padding-right: 3rem;
    }

    .active{
        left: -0%;
    }
}

@media (max-width:450px){

    .logo{
        margin: 0 .5rem;
    }

    #search{
        right: .5rem;
        top: 9rem;
    }

    #search:hover, #search:focus {
        width: 30rem;
    }    

}

/* estilos da pagina booking */

.header-booking{
   background: #d38854;
}

.logo-booking{
    background: white;
    border-radius: 50%;
}

.container-booking{
    width: 60%;
    margin: auto;
}

.content-booking{
    display: flex;
    flex-direction: column;
}

.container-booking h2{
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 3.5em;
}

.atividade{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    border: 1px solid #d38854;
    border-radius: 20px;
}

.atividade img{
    width: 200px;
    margin: 30px;
}

.info h3{
    font-size: 2.4em;
    margin: 10px;
}

.info p{
    font-size: 1.6em;
}

@media (max-width: 710px){
   .container-booking{
    width: 90%;
   } 
}

@media (max-width: 450px){
    .container-booking{
     width: 90%;
    } 

    .atividade img{
        width: 100px;
    }

    #search {
        right: 0.5rem;
        top: 13rem;
    }
 }